@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w8417w');
  src:  url('fonts/icomoon.eot?w8417w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w8417w') format('truetype'),
    url('fonts/icomoon.woff?w8417w') format('woff'),
    url('fonts/icomoon.svg?w8417w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-outline:before {
  content: "\e908";
}
.icon-compose:before {
  content: "\e909";
}
.icon-download1:before {
  content: "\e90a";
}
.icon-edit-pencil:before {
  content: "\e90b";
}
.icon-folder-outline:before {
  content: "\e90c";
}
.icon-list1:before {
  content: "\e90d";
}
.icon-search1:before {
  content: "\e90e";
}
.icon-user1:before {
  content: "\e90f";
}
.icon-user-solid-circle:before {
  content: "\e910";
}
.icon-user-solid-square:before {
  content: "\e911";
}
.icon-wrench1:before {
  content: "\e912";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-download:before {
  content: "\e960";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-warning:before {
  content: "\e900";
}
.icon-report_problem:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e901";
}
.icon-markunread:before {
  content: "\e901";
}
.icon-local_post_office:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-format_align_left:before {
  content: "\e903";
}
.icon-dehaze:before {
  content: "\e904";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-school:before {
  content: "\e913";
}
.icon-help:before {
  content: "\e907";
}
