* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(../../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}
.contenedor{
    background: rgba(0,0,0,.7);
    max-width: 400px;
    width: 50%;
    height: 30%;
    margin:100px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    text-align: center;
}
#button{
        background-color: #75A3C7;

    width: 20%;
 color: #000;
     border:none;
      padding: 5px;
      cursor: pointer;
  }
  #buttons{
        background-color: #75A3C7;

    width: 40%;
 color: #000;
     border:none;
      padding: 5px;
      cursor: pointer;
  }
.contenedor input[type="text"]{
    width: 40%;
    padding: 6px 6px;
    margin-left: 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}
.contenedor a{
    color:  #000;
    text-decoration: none;
    margin-left: 300px;
}
<<<<<<< HEAD
.contenedor input[type="pass"]{
=======
.contenedor input[type="password"]{
>>>>>>> c6a719af3939eb70a04dc6b3d2bd300e58effafd
  width: 40%;
    padding: 6px 6px;
    margin-left: 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor input[type="submit"] 
{
    background: #C64133;
    color: #fff;
    width: 20%;
    border: none;
    border-radius: 5px;
    padding: 6px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 400px;
    width: 50%;
    margin:100px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #C64133;
    border-bottom: 2px solid #C64133;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
    background: #C64133;
    color: #fff;
    width: 100%;
    border: none;
        border-radius: 5px;

    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #0075d9;
}

.contenedor-form .reset-password {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
