ul{
  list-style: none; 
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
    background-color: #E1ECF5;
    margin:20px;
    padding:20px;
  }

/* estilos de */
.top{
    margin: auto; 
    width: 100%;
    display:block; 
    position: relative;      
}

.top ul {
    list-style: none;
    font-size: 30px;

}

.top li {
    background-color: #077BC6;
    color: #FFF;
    text-decoration: none;
    padding: 30px 95px ;
}


.top li ul{
    display: none;
    margin-top: 20px;
}

.top span{
     color: #fff;
/*     display: inline-block;
     position: absolute;*/
     right: 5%;
     top: 30px;
     font-size: 60px;
     margin-left: 5px;
     cursor: pointer;


}


/*estilos del encabezado "control de alumnos" */


.busqueda{
	position: absolute;
	right: 15%;
	margin-bottom: 700px;
	width:300px;

}

.busqueda:nth-child(1){
	opacity: 0.75;
}

th{
	width: 30px;
}
/*
button {
    background:#ffa64d;
    color: #000
    width: 4%;
    border: none;
    padding: 27px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
     position: absolute;
     right: 15%;
    border-radius: 10px;
    margin-top: 12%;
}
*/
input[type="submit"]:hover {
    background:#fff;
    color: #000;
}
input[type="submit"]:hover{
    opacity: 0
}

.search{
    padding: 10px;
    width: 20%;
    border: none;
     
     position: absolute;
     right: 15%;
     top: 25%;
     border-radius: 10px;
}

.tabla{
   /* margin: 100px auto;*/
   margin-top:100px;
    margin-left:-150px;
    margin-right: 50px;

    left: 30%;
    width: 30%;
    height: 200px;
    max-width: 70%;
    position:relative;
    font-size: 20px;

}

table{
	background-color: #F5F8F5;
	text-align: left;
	width: 80%;
	border-collapse: collapse;
	 transition: all .3s ease-in-out;
  max-width: 80%;
  padding: 10px;

}
tr{
  opacity: 0.75;
}
td{
	padding: 20px;
	width: 1000px;
}
thead{
	background-color: #DFEDDE;
	border-bottom: solid 3px;
}

tr:nth-child(even){
	background-color: #ddd;
}
tr:hover{
	background-color: gray;
}
tr:hover{
  opacity: 0.75;
  color: #000;
}
span{
	color: #fff;
    margin-right: 60px; 
	font-size: 100px;
	display: inline;
	top: 60px;
}
#span{
	font-size: 30px;
	display: inline;
    position: absolute;
    right: 25%;
    border-radius: 10px;
    top: 135px;
    color: #000;
}
#button{
     padding: 10px; 
     position: absolute;
     border-radius: 10px;
     position: absolute;
     right: 10%;
     width: 4%;
     background: #000;
     color: #fff;
     border:none;
     padding: 8px;
     top: 10%;
     cursor: pointer;
     transition: all .5s ease;

}
#button:hover{
    background-color: #75A3C7;
	color: #000;
}
#button-modi{
     border-radius: 10px;
     width: 5%;
     background: #000;
     color: #fff;
     border:none;
      padding: 5px;
      cursor: pointer;
     transition: all .5s ease;
     font-size: 15px;

        }
#button-modi:hover{
    background-color: #75A3C7;
  color: #000;
}
#button-doc{
  border-radius: 10px;
     background: #000;
     color: #fff;
     border:none;
     padding: 5px;
     cursor: pointer;
     transition: all .5s ease;
     font-size: 15px;

}
#button-doc:hover{
    background-color: #75A3C7;
  color: #000;
}

a {
    text-decoration: none;
}
#registrer{
  border-radius: 10px;
     background: #000;
     color: #fff;
     border:none;
          padding: 5px;
            cursor: pointer;
     transition: all .5s ease;
     width: 15%;
}
#registrer:hover{
    background-color: #75A3C7;
  color: #000;
}
#registrer{
  opacity: 0.75;
}


/* ---------------------Estilo   J O S E --------------
------------------------------------------------------- */


/* -------------- Barra navegar horizontal --------------------------------- */
.nav-h {
    background-color: #262F36;
    color: #FFF;
    margin: 20px auto;
    margin-left: 20%;
    padding: 10px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* - Navegacion Vertical principal - */
.nave{
    margin: 30px auto;
    width: 20%;
    max-width: 90%;
    position: absolute;
    font-size: 20px;
    top: 250px;

}
 .nave > ul{
    background-color: #077BC6;
    text-align: left;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    transition: all .3s ease-in-out;
    max-width: 90%;
    padding: 10px;

}

.nave li{
    padding: 20px;
}

.nave li:hover{
    background-color: #75A3C7;
}
.nave li:hover{
  opacity: 0.75;
  color: #000;
}
.nave a{
    color: #fff;
}
.nave a:hover{
    color: #000;
}

/*-------formulario------*/
.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 400px;
    width: 50%;
    margin:100px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #C64133;
    border-bottom: 2px solid #C64133;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
    background: #C64133;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background-color: #75A3C7;
}

.contenedor-form .reset-password {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

.clase select{
border: none;
padding: 5px;
border-radius: 10px;
}

.clase input{
  border: none;
  padding: 5px;
  border-radius: 10px;


}
#button-search{
  left: 63%;
  top: 7%;
  width: 5%;
  padding: 5px;
  background: #000;
  color: #fff;

}
#button-search:hover{
    background-color: #75A3C7;

}
.registro{
   background: rgba(0,0,0,.7);
    max-width: 600px;
    width: 50%;
    margin:100px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}
.registro input[type="text"]{
    outline: none;
    display: inline;
    width: 80%;
    padding: 15px 15px;
    margin-left: 40px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.registro input[type="text"]:focus{
    border-bottom: 4px solid #0075d9;
}
.registro input[type="number"]{
    outline: none;
    display: inline;
    width: 80%;
    padding: 10px 10px;
    margin-left: 40px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.registro select{
  outline: none;
    display: block;
    width: 40%;
    padding: 15px 15px;
    margin-left: 40px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}
.form {
    background: rgba(0,0,0,.7);
    max-width: 400px;
    width: 50%;
    margin:100px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: -40px;
  }


.form input[type="text"],
.form input[type="number"]


{
  margin-left: 40%;
    padding: 5px 5px;
    margin: 0 0 20px 0;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;

}
.form input[type="number"]
{
  width: 80%;
}
.form input[type="submit"]{
  background: #C64133;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}
#year{
  width: 70px;
}